{% extends 'airplane/base.html' %}

{% block content %}

	

<div class="center help-section">
	<h1 class="center help-title">Help Section</h1>
	<div class="help-content">
		<h1 class="border-bottom">TelPlanes</h1>
		<h4>This project was created on the ocasion of the code jam known as 
		"Timathon". TelPlanes has the abillty to track your planes and find
		hotels according to your details. We hope the app helps users find
		what they need and have a good experince.</h4>
	</div>
	<div class="help-content">
		<h1 class="border-bottom">How To Use</h1>
		<div class="border-bottom">
			<h2>Airplanes</h2>
			<h4>To track your airplanes go to the airplanes section and enter the following details.</h4>
			<img class="hotelPage-image" src="https://i.imgur.com/r1RM4wS.png"></img>
			<ul>
				<li>Airlines Name</li>
				<li>Flight Number</li>
				<li>Date</li>
			</ul>
		</div>
		<div>
			<div class="border-bottom">
				<h2>Hotels</h2>
				<h4>To find hotels go to the hotels section and enter the following details.</h4>
				<img class="hotelPage-image" src="https://i.imgur.com/yNebwJn.png">	
				<ul>
					<li>Number of Adults</li>
					<li>Children age </li>
					<li>Destination</li>
					<li>CheckIn Date</li>
					<li>CheckOut Date</li>
					<li>Currency</li>
				</ul>
			</div>
			<div class="border-bottom">
				<h4>To filter hotels, Use the Filter option that can be found on the same page. The availabe filters are...</h4>
				<img class="hotelPage-image" src="https://i.imgur.com/UNPTiJc.png"></img>
				<ul>
					<li>Minimum Price</li>
					<li>Maximum Price</li>
					<li>Guest Ratings(1-10)</li>
				</ul>
			</div>
			
			<div class="border-bottom">
				<h4>
					To sort hotels, Use the sort option that can also be found on the same page. The availabe options are..
				</h4>
				<img class="hotelPage-image" src="https://i.imgur.com/sl2eQK8.png"></img>
				<ul>
					<li> Price (Lowest 1st)</li>
					<li>Price (Highest 1st)</li>
					<li>Best Seller</li>
					<li>Guest Ratings</li>
					<li>Star Rating (Highest 1st)</li>
					<li>Star Rating (Lowest 1st)</li>
					<li>Distance from Destination</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div class="help-content">
		<h1 class="border-bottom">Goals</h1>
		<h4>Our(my) goals are to become better at my programming skills and 
			learn more and more. This project was also made by me as to 
			challenge myself and enjoy. I hope that this app helps everyone and
			give them an enjoyable experince. BYE!
		</h4>
	</div>
</div>
{% endblock %}